/*universal box-sizing reset*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*basic body config*/
  body {
    background-color: antiquewhite;
    
    /*the default body has margin and a small viewport compared to the html size, so we do:*/
    margin: 0px;
    height: 100vh;
    /**/

    display: flex;
    flex-direction: column;

  }

body>*{
   /* border: 2px solid red;*/
    background-color: rgb(197, 189, 189);
}

/*===header elements====*/

.header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #1f2937;
}

/*
.header>* {
   border: 2px solid red;
}*/

.links>* {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

.header-logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #f9faf8;
  font-size: 24px;
}

.header-logo img {
  margin-right: 8px;
  width: 50px;
  flex: 0 1 auto;
}

/*==intro section==*/
.intro-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    background-color: #1f2937;
    color: white;
}

.intro-box>*{
  margin: 50px 0px;
  /*border: 2px solid red;*/
}

.intro-text-box {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.intro-text-box * {
  margin: 0px;
  margin-right: 100px;
  max-width: 300px;
  /*border: 2px solid yellow;*/
}

.intro-text-box h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.intro-text-box p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #e5e7eb;
}

.intro-text-box p:nth-last-of-type(1) {
  margin-bottom: 20px;
}

.intro-img-box {
  display: flex;
  flex-wrap: wrap;
}

.intro-img-box>*{
  max-width: 400px;
}

.intro-text-box button {
  margin-top: auto;
  border-radius: 2px;
  color: white;
  background-color: #3882f6;
  font-weight: bolder;
  padding: 8px;
}

/*==information section with the cards insive below==*/
.informations-box {
    display: flex;
    flex-direction: column;
}

/*==cards section==*/
.card-img {
  border-radius: 10px;
  width: 250px;
  height: 150px;
}

#informations {
  padding: 50px 0px 100px;
  text-align: center;
  background-color: white;
}

#informations h1 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.card-informations-box {
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  margin: 8px;

}

.card>*{
  max-width: 250px;
  flex: 1 1 auto;
/*  border: 2px solid rebeccapurple;*/
}

/*==quotes section==*/
#quote, .quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

/*
.quote-box,
.quote-box>* {
  border: 2px solid red;
}
*/

blockquote {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  width: 700px;
}

.quotation-autor {
  margin-top: 10px;
  margin-bottom: 60px;
  align-self: flex-end;
  font-size: 30px;
  font-weight: bolder;
  color: #1f2937;
}


/*==flag section*/
#call {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

.flag {
  background-color:white; /* #3882f6;*/
  border-radius: 10px;
  padding: 8px;
  margin: 80px 0px;
  display: flex;
  align-items: center;
}

.flag-text {
  padding: 0px;
}

.flag-text>*{
  margin: 2px;
}

.button {
  margin-left: 8px;
}


/*==footer section==*/
footer {
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    margin-top: auto;
    border: 2px solid red;
}